{% extends "0_base.html" %} {% block title %}Home{% endblock %} {% block content%}
<br/><br/><br/>

<strong>Parkinson’s Disease</strong> is a disorder of the central nervous system that affects movement, often including tremors. Nerve cell damage in the brain causes dopamine levels to drop - a neurotransmitter, used by the nervous system to send messages between nerve cells, leading to the symptoms of Parkinson's. 

In 2016, it was estimated that 6.1 million people worldwide had the disease. The prevalence in India was roughly 10% of the global burden, that is, 5.8 lakhs. 
<br/><br/><br/>

<strong>Our Mission</strong>
<br/>
By detecting multiple attributes of actions associated with the human motor system, we aim detect to Parkinson’s Disease in its early stages — thereby leading to higher effectiveness of treatments.
<br/><br/>
We conduct the following preliminary tests to analyze potential Parkinson's symptoms:
<ol>
<li>A multiple-choice questionnaire that can be answered by the patient or a caretaker</li>
<li>A voice test in which we analyze the way the patient reads a given paragraph of text</li>
</ol>

{% if user.is_authenticated %}
<br><br><br><button onclick="location.href = '/pq2'" class="btn" style="background-color: #ffcccc; float: left">Take the test now</a>      

<button onclick="location.href = '/voice'" class="btn" style="background-color: #ffcccc; float: right;">Voice Analysis</button>
{% endif %}
<br/><br/><br/><br/>

{% endblock %}

