{% extends "0_base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <h2 align="center"><br><b>LOGIN</b></h3><br>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br />
      <div class="button">
      <button type="submit" class="btn" style="background-color: #ffcccc">Login</button>
      </div>
    </form>
    <style>
      .button
      {
        text-align : center;
      }
    </style>
    {% endblock %}
    