{% extends "0_base.html" %} {% block title %}Voice Analysis{% endblock %} {% block content%}
    <br><br><br><br><br>
    
    <br><h4>Please read the following text</h4><br>
    <span style="text-align: justify"> North Wind and the Sun were disputing which was the stronger, when a traveler came along wrapped in a warm cloak. They agreed that the one who first succeeded in making the traveler take his cloak off should be considered stronger than the other. Then the North Wind blew as hard as he could, but the more he blew the more closely did the traveler fold his cloak around him; and at last the North Wind gave up the attempt. Then the Sun shone out warmly, and immediately the traveler took off his cloak. And so the North Wind was obliged to confess that the Sun was the stronger of the two.</span>
    <br><br><br>
    
    <div id="controls">
  	 <button id="recordButton" class="btn" style="background-color: #ff5050"><b>Record</b></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  	 <button id="stopButton" class="btn" style="background-color: #ff5050" disabled><b>Stop</b></button>
    
    <!-- <br><div id="formats">Format: start recording to see sample rate</div> -->
    </div>
    <br>
  	<div id="recordingsList"></div>

    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  	<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  	<script src="static/js/app.js"></script>
    
    <script>
    function hideButton(){
    document.getElementById("sub").style.display='none';
    //or you can try
    //document.getElementById("buttonId").style.visibility='hidden';
    }
    </script>


    <br/>OR<br/><br/>
    <form action="{{ url_for('predict_voice') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="audio_data" id="audio_data" accept=".wav"/>
    <br/><br/>
    <button type="submit" class="btn" id="sub" style="background-color: #ffcccc" >Submit Uploaded File</button>
    </form>

   
{% endblock %}